.our-team-heading{
	text-align: center;
	text-transform: uppercase;
	background-color: #ececec;
	padding-top: 71px;
	padding-bottom: 81px;
}
.our-team-heading h1{
	color:hsl(180, 6%, 51%);
	font-size =31px;
}