

.header-top-wrapper {
	height: 80px;
	background-color: #76c7c1;
	background-image: url('/images/ruler-header.png');
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 0px 172px;
}
.header-top {
	padding: 0 50px;
}
.header-top-left {
	float: left;
	height: 80px;
	/*background-color: red;*/
}
.header-top-right {
	float: right;
	height: 80px;
	/*background-color: tomato;*/
}
.logo {
	float:left;
	height: 150px;
	line-height: 80px;
}

.header-top-right ul.nav-items {
	list-style: none;	
}
.header-top-right ul.nav-items li {
	float: left;
	color: #fff;
	line-height: 80px;
	/*padding: 0 20px;*/
}

.header-top-right ul.nav-items li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 0 20px;
}

.header-top-right ul.nav-items li a img{
    padding-top: 34px;
}

.header-bottom-wrapper {
	/*height: 92px;*/
	height: 80px;
	/*background-color: #ececec;*/
	padding: 0px 172px;
}
.header-bottom {
	padding: 0 50px;
	line-height: 80px;
	color: #898d8e;
	background-image: url('/images/down-arrow.png');
	/*background-repeat: repeat-x;*/
	/*background-position: bottom;*/
}

.header-bottom-left {
	float: left;
}

.header-bottom-right {
	float: right;
}
.header-bottom-right ul{
	list-style: none;
}
.header-bottom-right ul li {
	float: left;
	background-image: url('/images/breadcrump.png');
	background-repeat: no-repeat;
	background-position: right;
	padding: 0 14px;   
	/* 6pixel breadcrump size + 8px distance between text and breadcrump = 14px*/
}
.header-bottom-right ul li:nth-last-child(1) {
	background-image: none;
}
.header-bottom-right ul li a{
	text-decoration: none;
	color: #898d8e;	
}
